@import "../../style/breakpoints";
@import "../../style/colors";


.presentation {
  @media (min-width: $md) {
    display: flex;

    &__photo-container {
      flex-basis: 50%;
    }

    &__text {
      flex-basis: 50%;
    }
  }


  &__photo-border {
    flex-basis: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 135px;
    margin: auto;
    height: 135px;
    background: linear-gradient(to bottom, $animation__blue, $animation__purple);
  }

  &__photo {
    border-radius: 50%;
    width: 90%;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.button {
  animation: color-change-2x 5s linear infinite alternate both;
  align-items: center;
  display:flex;
  justify-content: center;
  height: 2.5rem;
  color: $white;
  font-size: 0.8rem;
  border: none;
  border-radius: 10% 0 10% 0;

  &:first-of-type {
    margin-right: 1rem;
  }

  &:focus {
    outline-style: none;
  }

  span {
    margin-right:0.5rem;
  }

  .button-icon {
  width: 1.5rem;
  fill: $white;
  }

  @keyframes color-change-2x {
    0% {
      background: $animation__blue;
    }
    100% {
      background: $animation__purple;
    }
  }
}

