@import "../../style/breakpoints";
@import "../../style/colors";


.photo {
  border-radius: 50%;
}

.title{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
  margin-top:10%;
  color: $animation__purple;
}

.button {
  display:flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right:0.5rem;
  }

  .button-icon {
  width: 2rem;
  fill: $white;
  }
}

