@import "../../style/breakpoints";
@import "../../style/colors";

.menu-container {
  width: 100%;
  animation: color-change-2x 5s linear infinite alternate both;
  
}

@keyframes color-change-2x {
  0% {
    background: $animation__blue;
  }
  100% {
    background: $animation__purple;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;

  @media (max-width:$sm) {
    padding-left:0.5rem;
    padding-right:0.5rem;
  }

  &__link {
    color: $white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    transition: transform 0.25s ease;

    &::before {
      content: "";
      display: inline-block;
      width: 1%;
      height: 2px;
      transform: scaleX(1);
      position: absolute;
      top: 0.5rem;
      left: 0;
      background-color: $white;
      transform-origin: top left;
      opacity: 0;
      transition: all 0.5s cubic-bezier(1,.06,.41,.87);
    }

    &::after {
      content: "";
      display: inline-block;
      width: 1%;
      height: 2px;
      transform: scaleX(1);
      position: absolute;
      bottom: 0.5rem;
      right: 0;
      background-color: $white;
      transform-origin: top left;
      opacity: 0;
      transition: all 0.5s cubic-bezier(1,.06,.41,.87);
    }

    &:hover {
      color: $white;
      text-decoration: none;
      

      &::before{
        transform: scaleX(100);
        transition: all 0.5s cubic-bezier(1,.06,.41,.87);
        opacity: 1;
      }

      &::after{
        transform: scaleX(-100);
        opacity: 1;
      }
    }

    &:active {
      transform: scale(1.05);
    }

    @media (max-width: $xxs) {
      font-size: 0.8rem;
    }
  }
}


