@import "../../style/breakpoints";
@import "../../style/colors";

.menu {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  padding: 0.2rem;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;

  &:after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 50%;
    height: 0.05rem;
    background: $border__color;
  }

  &__link {
    color: $border__color;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-variant: small-caps;
    height: 2rem;

    &:hover {
      color: $border__color;
      text-decoration: none;
    }

    @media (max-width: $xxs) {
      font-size: 0.8rem;
    }
  }
}


