
$white: whitesmoke;

$devil__blue: #227093;

$lucky__point: #2c2c54;

$grey__porcelain: #84817a;

$jackson__purple: #40407a;

$palm__springs__splash: #218c74;

$chilean__fire: #cd6133;

$eye__of__newt:#b33939;

$desert: #ccae62;