@import "../../style/colors";
@import "../../style/breakpoints";


.form{
 
  width: 90%;
  margin: auto;
  margin-top: 2rem;

  @media (min-width: $md) {
    width: 50%;
  }
  
  .name,
  .mail,
  .message { 
    font-family: 'Julius Sans One', sans-serif;
    background-color: transparent;
    margin-bottom:1.5rem;
    width:100%;
    border: none;
    border-bottom: 1px solid $devil__blue;
    font-size: 0.9rem;
    &:focus {
      outline: 0;
    }
  }

  .button {
    animation: background-change-2x 5s linear infinite alternate both;
    color: $white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.8rem;
    height:2rem;
    margin-left: 25%;
    border-radius: 12px;
  }

  @keyframes background-change-2x {
    0%{
      background: $palm__springs__splash;
    }
    100%{
      background: $lucky__point;
    }
  }
}



