@import "../../style/breakpoints";
@import "../../style/colors";

.footer {
  width: 100%;
  height: 3rem;
  display:flex;
  position:fixed;
  left:0;
  bottom:0;
  justify-content: center;

  &__link {
    height: 2rem;
    width: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    border: 2px solid $footer__color;
    margin: 0.5rem;
    transition: border 0.5s ease;

    &:hover {
      border: 2px solid $footer__color--hover;
    }

    &:hover .footer__icon {
      fill:$footer__color--hover;
    }
  }

  &__icon {
    margin: 0.5rem;
    height:2rem;
    width: 2rem;
    transition: fill 0.5s ease;
    fill: $footer__color;
  }
}

